<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.changsu.bluetoothle">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".BluetoothAdapter"
            android:label="@string/title_activity_bluetooth_adapter" >
        </activity>
        -->
        <activity
            android:name=".BleDeviceScanActivity"
            android:label="@string/title_activity_ble_device_scan"></activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"></activity>
        <activity
            android:name=".MapActivity"
            android:label="MapActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".MainActivity"></activity>

        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="4c54384902d66de78443a07bb262faf1" />



    </application>

</manifest>